{# templates/macros.html #}

{% macro render_pagination(pagination, endpoint, fragment='') %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {# Previous Page Link #}
      <li class="page-item {{ 'disabled' if not pagination.has_prev else '' }}">
        {% set prev_url_kwargs = {} %}
        {% do prev_url_kwargs.update(request.view_args) %}
        {% do prev_url_kwargs.update(request.args) %}
        {% do prev_url_kwargs.update({'page': pagination.prev_num}) %}
        <a class="page-link" href="{{ url_for(endpoint, **prev_url_kwargs) }}{{ '#' + fragment if fragment else '' }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      {# Page Numbers #}
      {% for page_num in pagination.iter_pages() %}
        {% if page_num %}
          {% if page_num != pagination.page %}
            <li class="page-item">
              {% set page_url_kwargs = {} %}
              {% do page_url_kwargs.update(request.view_args) %}
              {% do page_url_kwargs.update(request.args) %}
              {% do page_url_kwargs.update({'page': page_num}) %}
              <a class="page-link" href="{{ url_for(endpoint, **page_url_kwargs) }}{{ '#' + fragment if fragment else '' }}">{{ page_num }}</a>
            </li>
          {% else %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">{{ page_num }}</span>
            </li>
          {% endif %}
        {% else %}
            <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}
      {% endfor %}

      {# Next Page Link #}
      <li class="page-item {{ 'disabled' if not pagination.has_next else '' }}">
        {% set next_url_kwargs = {} %}
        {% do next_url_kwargs.update(request.view_args) %}
        {% do next_url_kwargs.update(request.args) %}
        {% do next_url_kwargs.update({'page': pagination.next_num}) %}
        <a class="page-link" href="{{ url_for(endpoint, **next_url_kwargs) }}{{ '#' + fragment if fragment else '' }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
{% endmacro %} 